nav {
    display: flex;
    position: relative;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    font: 14px Arial, sans-serif; /*"Open Sans", Helvetica, Arial, sans-serif*/
    line-height: 1;
    width: 100%;
    background: #fff;/*#f3a413*/
}

nav ul {
    flex-direction: row;
    margin-right: auto;
    display: block;
}

.nav-button {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    background-color: #fff;
}

.nav-button:hover {
    color: #fff;
    border-color: #17a2b8;
    background-color: #17a2b8;
}

.menu li, .menu li a {
    display: inline-block;
    position: relative;
    color: #242424;
    font-size: 18px;
}

.menu li {
    padding: 20px 25px;
}

.menu li a {
    padding: 10px 25px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    text-decoration: none;
}

/* Dropdown */
.dropbtn {
    background-color: #fff;
}
