<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 id="h2-text">{{formText}} Event</h2>
        <form
            [formGroup]="eventForm"
            (ngSubmit)="onFormSubmit()"
        >
            <div>
                <label class="fadeIn first" for="name">Event Name</label>
                <input
                    type="text"
                    id="name"
                    class="fadeIn first"
                    formControlName="name"
                    placeholder="name">
                <div
                    *ngIf="eventForm.get('name').touched && eventForm.get('name').invalid"
                >
                    <p
                        class="error-p"
                        *ngIf="eventForm.get('name').errors.required"
                    >Name field is required</p>
                    <p
                        class="error-p"
                        *ngIf="eventForm.get('name').errors.minlength"
                    >Name field must have minimum {{eventForm.get('name').errors.minlength.requiredLength}} characters</p>
                    <p
                        class="error-p"
                        *ngIf="eventForm.get('name').errors.maxlength"
                    >Name field must have maximum {{eventForm.get('name').errors.maxlength.requiredLength}} characters</p>
                </div>
            </div>
            <div>
                <label class="fadeIn second" for="type">Event Type</label>
                <select
                    id="type"
                    formControlName="type">
                    <option
                        *ngFor="let eventType of eventTypes"
                        [value]="eventType.value">
                        {{eventType.type}}
                    </option>
                </select>
                <p
                    class="error-p"
                    *ngIf="eventForm.get('type').touched && eventForm.get('type').invalid && eventForm.get('type').errors.required"
                >Type field is required</p>
            </div>
            <div>
                <label class="fadeIn second" for="date">Event Date</label>
                <input
                    type="datetime-local"
                    id="date"
                    class="fadeIn second"
                    formControlName="date"
                    [min]="today"
                    placeholder="Date of">
                <p
                    class="error-p"
                    *ngIf="eventForm.get('date').touched && eventForm.get('date').invalid && eventForm.get('date').errors.required"
                >Date field is required</p>
            </div>
            <div>
                <label class="fadeIn second" for="description">Event Description</label>
                <textarea
                    cols="25"
                    rows="5"
                    type="text"
                    id="description"
                    class="fadeIn second"
                    formControlName="description">
                </textarea>
                <div
                    *ngIf="eventForm.get('description').touched && eventForm.get('description').invalid"
                >
                    <p
                        class="error-p"
                        *ngIf="eventForm.get('description').errors.required"
                    >Description field is required</p>
                    <p
                        class="error-p"
                        *ngIf="eventForm.get('description').errors.minlength"
                    >Description field must have minimum {{eventForm.get('description').errors.minlength.requiredLength}} characters</p>
                    <p
                        class="error-p"
                        *ngIf="eventForm.get('description').errors.maxlength"
                    >Description field must have maximum {{eventForm.get('description').errors.maxlength.requiredLength}} characters</p>
                </div>
            </div>
            <button
                type="submit"
                [disabled]="!eventForm.valid"
                class="fadeIn third">
                {{buttonText}}
            </button>
        </form>
    </div>
</div>
