/* buttons */
.edit-button {
    color: #fff;
    background-color: #39ace7;
    border: 1px solid #39ace7;
}

.edit-button:hover {
    background-color: #3396c9;
    border-color: #3290c0;
}

.delete-button {
    color: #fff;
    background-color: #dc3545;
    border: 1px solid #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
    border-color: #bd2130;
}

.create-button {
    color: #fff;
    background-color: #28a745;
    border: 1px solid #28a745;
}

.create-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

/* table */
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin-top: 3%;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

tbody tr:hover {
    background-color: #eaeaea;
}

table th,
table td {
    padding: .625em;
    text-align: center;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }
}
