<button
    [routerLink]="['/event', 'create']"
    class="create-button"
>Create Event
</button>

<app-alert
    [show]="showActionAlert"
    (showChanged)="alertActionShowChanged($event)"
    [alertProps]="{title: actionMessage, color: '#155724', backgroundColor: '#d4edda', closable: true}"
></app-alert>

<app-alert
    [show]="showErrorAlert"
    (showChanged)="alertErrorShowChanged($event)"
    [alertProps]="{title: errorMessage, color: '#721c24', backgroundColor: '#f8d7da', closable: false}"
></app-alert>

<table>
    <thead>
    <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Event Description</th>
        <th scope="col">Event Date</th>
        <th scope="col">Event Type</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
        <td data-label="Name">{{event.name}}</td>
        <td data-label="Description">{{event.description}}</td>
        <td data-label="Date">{{event.date | date:'MMMM dd, yyyy | hh:mm a'}}</td>
        <td data-label="Type">{{event.eventType}}</td>
        <td data-label="Action">
            <button
                [routerLink]="['/event', 'edit', event.id]"
                class="edit-button"
            >Edit
            </button>
            <button
                (click)="onDelete(event.id)"
                class="delete-button"
            >Delete
            </button>
        </td>
    </tr>
    </tbody>
</table>
<app-pagination
    [totalCount]="totalCount"
    [limit]="limit"
></app-pagination>

<app-dialog-box
    [message]="dialogMessage"
    *ngIf="dialogMessage"
    (closeDialog)="onCancel()"
    (submitDialog)="onDeleteSubmit()"
></app-dialog-box>
