nav {
    display: flex;
    position: relative;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    font: 14px Arial, sans-serif;
    line-height: 1;
    width: 100%;
    background: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
}

nav ul {
    flex-direction: row;
    margin-right: auto;
    display: block;
}

.nav-button {
    color: #17a2b8;
    border: 1px solid #17a2b8;
    background-color: #fff;
}

.nav-button:hover {
    color: #fff;
    border-color: #17a2b8;
    background-color: #17a2b8;
}

.menu li, .menu li a {
    display: inline-block;
    position: relative;
    color: #242424;
    font-size: 18px;
}

.menu li {
    padding: 20px 25px;
}

.menu li a {
    padding: 10px 25px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu li a {
    text-decoration: none;
}

/* Dropdown */
.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 21px 15px;
    font-size: 16px;
    border: none;
    border-radius: 0;
}

.active-menu {
    background-color: #dddddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 16px;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown:hover .dropbtn {
    background-color: #dddddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
