<nav>
    <ul class="menu">
        <li>{{userName}}</li>
        <div
            *ngIf="isUserAdmin"
            class="dropdown"
        >
            <button class="dropbtn">Events</button>
            <div class="dropdown-content">
                <a
                    routerLink="../grid"
                    routerLinkActive="active-menu"
                >Grid</a>
                <a
                    routerLink="../table"
                    routerLinkActive="active-menu"
                >Table</a>
            </div>
        </div>
    </ul>
    <button
        class="nav-button"
        (click)="onLogOut()"
    >Log Out
    </button>
</nav>
