<nav>
    <ul
        *ngIf="pageNums && pageNums.length > 0"
        class="pagination"
    >
        <li class="page-item">
            <a
                (click)="onPrevClick()"
                [ngClass]="{'disabled-a':currentPage - 1 < 1}"
                class="page-link"
            >&laquo;</a>
        </li>
        <li
            *ngFor="let num of pageNums"
            class="page-item"
        >
            <a
                (click)="onPageNum(num)"
                [ngClass]="{'active-page-link':num === currentPage}"
                class="page-link"
            >{{num}}</a>
        </li>
        <li class="page-item">
            <a
                (click)="onNextClick()"
                [ngClass]="{'disabled-a':currentPage >= pageNums.length}"
                class="page-link"
            >&raquo;</a>
        </li>
    </ul>
</nav>
