@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #eaeaea;
}

body, ul {
    margin: 0;
    padding: 0;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

button {
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Dropdown */
.dropbtn {
    color: #000;
    padding: 21px 15px;
    font-size: 16px;
    border: none;
    border-radius: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 20px 16px;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover, .dropdown:hover .dropbtn {
    background-color: #dddddd;
}

/* should be replaces with clickable directive */
.dropdown:hover .dropdown-content {
    display: block;
}

/* error */
.error-p {
    color: red;
}

/* page content */
.main {
    display: block;
}

.container {
    margin: 5%;
}
