@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #e8e8e8;
}

body, ul {
    margin: 0;
    padding: 0;
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

button {
    margin-right: 10px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a, button {
    cursor: pointer;
}

/* error */
.error-p {
    color: red;
    font-family: sans-serif;
    text-align: left;
    margin: 0 0 10% 8%;
}

/* page content */
.main {
    display: block;
}

.container {
    margin: 5%;
}
